body {
  background: black;
}
  .movie-app{
    display: flex;
    background: rgb(16, 16, 16);
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }

  .movie-container {
    display: flex;
    flex-direction: column;
    background: black;
    justify-content: space-around;
    transition: transform 0.2s;
    margin: 15px;

  }

  .movie-container:hover {
    cursor: pointer;
    transform: scale(1.009);
  }

  