.image-container {
    position: relative;
    transition: transform 0.2s;
    margin: 15px;
  }
  
  .image-container:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  
  .image-container:hover .overlay {
    opacity: .90;
  }
  
  .overlay {
    position: absolute;
    background: rgb(43, 43, 43);
    width: 30%;
    transition:  0.5s ease;
    opacity: 0;
    bottom: 0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    align-items: center;
    color: white ;
  }

